@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

body {
    margin: 0;
    font-family: 'Uncial Antiqua', cursive;
    color: #4a2929;
    background: #0C0C0C url('clock-8592484_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgba(12, 12, 12, 0.95);
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #444;
}

header h1 {
    margin: 0;
    color: #BDAE82; /* Goldish color for a touch of elegance */
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #BDAE82;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #EDEDED;
}

section {
    padding: 60px 20px;
    background: rgba(12, 12, 12, 0.9);
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    margin: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(189, 174, 130, 0.5);
}

.menu-item img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #BDAE82;
}

.menu-item p {
    margin-top: 10px;
    color: #BDAE82;
    font-size: 1.1em;
}

form {
    margin: 20px 0;
}

input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    background-color: #2C2C2C;
    color: #EDEDED;
    border: 1px solid #444;
    border-radius: 4px;
    transition: background-color 0.3s;
}

input[type="number"]:focus {
    background-color: #444;
}

button {
    padding: 10px 20px;
    background-color: #444;
    color: #EDEDED;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666;
}

#delivery-cost {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
